<!DOCTYPE html>
<html>
	<head>
		<title>Works Cited</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/menubar.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>
			<a href="/" class="logo">Beer Recommender</a>
			<div class="right">
				<div class="btns menuToggle">
					<ion-icon name="menu-outline"></ion-icon>
					<ion-icon name="close-outline"></ion-icon>
				</div>
			</div>
		</header>
		<ul class="navigation">
			<li><a href="/" class="active">Home</a></li>
			<li><a href="/about_us">About Us</a></li>
			<li><a href="/tableau">Tableau</a></li>
			<li><a href="/recommender">Recommender</a></li>
			<li><a href="/data">Data Table</a></li>
			<li><a href="/resources">Works Cited</a></li>
		</ul>
		<div class="container-wc">
            <div class="row">
                <div class="col-md-12">
                    <h1>Works Cited</h1>
                    <p>Here is a list of clickable resources that were used in the creation of this website:</p>
                    <ul>
                        <li><a href="https://www.beeradvocate.com/beer/styles/">Information on beer styles</a></li>
                        <li><a href="https://wall.alphacoders.com/big.php?i=596513">Home page image</a></li>
                        <li><a href="https://github.com/alfcus/SMU_PROJECT_4_ANIME">Website layout inspiration</a></li>
                        <li><a href="https://www.villagecreekbrewing.com/">Source of beer Gage consumed during this project</a></li>
                        <li><a href="https://www.kaggle.com/datasets/ehallmar/beers-breweries-and-beer-reviews">Data for this project</a></li>
                    </ul>
                </div>
            </div>
        </div>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<script>
			let menuToggle = document.querySelector('.menuToggle');
			let dayNight = document.querySelector('.dayNight');
			let body = document.querySelector('body');
			let navigation = document.querySelector('.navigation');
			menuToggle.onclick = function(){
			menuToggle.classList.toggle('active')
			navigation.classList.toggle('active')
			}
			dayNight.onclick = function(){
			dayNight.classList.toggle('active')
			body.classList.toggle('dark')
			}
		</script>
	</body>
</html>